@font-face {
  font-family: 'Default';
  src: url('./fonts/0_default.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Akshar';
  src: local('Akshar'), url('./fonts/1_akshar.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Kanak';
  src: local('Marathi-Kanak'), url('./fonts/2_kanak.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mangal';
  src: local('Mangal'), url('./fonts/3_mangal.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Kiran';
  src: local('Kiran'), url('./fonts/4_kiran.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sharada';
  src: local('Marathi-Sharada'), url('./fonts/5_sharada.ttf');
  font-weight: normal;
  font-style: normal;
}